.DS_Store
Thumbs.db

node_modules/
bower_components/
wwwroot/lib/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.vspscc
*.vssscc
.vscode/

bin/
obj/
out/
dist/
publish/
temp/

*.user
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.vscode/

.vs/
.idea/
*.tfignore

*.mdf
*.ldf
*.sdf
sqlite.db

*.pfx
*.p12

.angular/
.angular-cache/
*.angular-cli.json
*.eslintcache

coverage/
test-results/
karma.conf.js
jest.config.js
*.spec.ts

.publish/
.deploy/
packages/
npm-shrinkwrap.json
package-lock.json

.env
.env.local
.env.development
.env.production
.env.test

/.tmp
/.cache

.git/logs/
.git/refs/

.idea/
*.iml

*.pem
*.crt
*.key